extends layout

block title
  title Edit Account - Social Services SG
  
append css
  style(type="text/css").
    .container {
      margin-top: 2em;
    }

append js
  - var setFields = function(fields){var arr=[];for(var p in fields){if(fields[p])arr.push(p);}return arr;};
  - var fields = setFields(participant.fields);
  script.
    $(document).ready(function() {
      function getFields() {
        var fields = $('form').form('get value', 'fields');
        fields = fields ? fields.join() : '';
        var fieldsData = {
          children:    !!(fields.indexOf('children') > -1),
          family:      !!(fields.indexOf('family') > -1),
          disability:  !!(fields.indexOf('disability') > -1),
          mental:      !!(fields.indexOf('mental') > -1),
          eldercare:   !!(fields.indexOf('eldercare') > -1)    
        };
        return fieldsData;
      };
      
      $('.dropdown').dropdown('set selected', !{JSON.stringify(fields).replace(/<\//g, "<\\/")});
      
      $('.ui.form')
        .form({
          inline: true,
          on: 'submit',
          fields: {
            password: {
              identifier: 'password',
              rules: [{
                type: 'length[6]',
                prompt: 'Your password must be at least 6 characters. '
              }]
            },
            password_verify: {
              identifier: 'password_verify',
              rules: [{
                type: 'match[password]',
                prompt: 'Please type your password again correctly. '
              }]
            },
            name: {
              identifier: 'name',
              rules: [{
                type: 'empty',
                prompt: 'Please tell us your name. '
              }]
            }
          }
        }).api({
          url: '/api/participant',
          method: 'put',
          beforeSend: function(setting) {
            setting.data.password = $('form').form('get value', 'password');
            setting.data.name = $('form').form('get value', 'name');
            setting.data.phone = $('form').form('get value', 'phone');
            setting.data.description = $('form').form('get value', 'description');
            setting.data.fields = getFields();
            $('.submit.button').addClass('loading');
            return setting;
          },
          successTest: function(res) {
            if (res && res.status)
              return res.status == 200;
            return false;
          },
          onResponse: function(res) {
            $('.submit.button').removeClass('loading');
          },
          onSuccess: function(res) {
            $('#success').removeClass('hidden');
            $('html, body').animate({ scrollTop: $('document').height() }, 500);
            setTimeout(function(){window.location.href = '/';}, 5000);
          },
          onFailure: function(res) {
            window.location.href = '/';
          }
        }).form('set values', {
          email:       !{JSON.stringify(participant.email)},
          password:    !{JSON.stringify(participant.account.password)},
          name:        !{JSON.stringify(participant.name)},
          phone:       !{JSON.stringify(participant.phone) || '""'} ,
          description: !{JSON.stringify(participant.description) || '""'} 
        });
      });

block body
  .ui.text.container
    #success.ui.hidden.positive.message
      .header Congratulations!
      p You have successfully edited your account. Redirecting to main page shortly.
    h2.ui.blue.header
      i.edit.icon
      .content
        | Edit Your Account at Social Services SG
        .sub.header
          | View and edit your account information. 
    form.ui.tall.stacked.segment.form
      h3.ui.header Account Information
      .field
        label Your Account ID
        .ui.right.corner.labeled.disabled.left.icon.input
          i.mail.icon
          input(type='text', name='email', placeholder='E-mail address')
          .ui.right.corner.label
            i.asterisk.icon
      .field
        label Your Password
        .ui.right.corner.labeled.left.icon.input
          i.lock.icon
          input(type='password', name='password', placeholder='At least 6 characters')
          .ui.right.corner.label
            i.asterisk.icon
      .field
        label Verify Your Password
        .ui.right.corner.labeled.left.icon.input
          i.lock.icon
          input(type='password', name='password_verify', placeholder='Please type it again')
          .ui.right.corner.label
            i.asterisk.icon
      h3.ui.header
        | Things About You
      .field
        label Your Full Name
        .ui.right.corner.labeled.left.icon.input
          i.user.icon
          input(type='text', name='name', placeholder="Only for event organizers' use")
          .ui.right.corner.label
            i.asterisk.icon
      .field
        label Your Phone Number
        .ui.left.icon.input
          i.mobile.icon
          input(type='text', name='phone', placeholder="Only for event organizers' use")
      .field
        label A Short Description about You
        textarea(name='description', rows='3')
      .field
        label Specialized or Interested Fields of Services
        select.ui.dropdown(name='fields', multiple='')
          option(value='') Select your fields
          option(value='children') Children and Youth Services
          option(value='family') Family Services
          option(value='disability') Disability Services
          option(value='mental') Mental Health Services
          option(value='eldercare') Eldercare Services
      .field
        .ui.checkbox
          input(type='checkbox', name='terms', checked='checked', disabled='disabled')
          label I agree to the terms and conditions (that do not exist yet).
      .ui.blue.submit.button Confirm to Edit
      a.ui.button(href='/') Cancel
